<footer class="footer bg-dark py-3 mt-auto" id="myFooter">
    <div class="container">
        <span class="text-muted font-weight-bold">&copy; Bibliotech 2021</span>
        <a href="#"><div class="text-muted ml-3 mt-3"> Contact </div></a>
        <a href="#"><div class="text-muted ml-3 mt-3"> Privacy Policy </div></a>
    </div>
</footer>


